*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'Kanit';
  src: url(Styles/Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(Styles/Fonts/Roboto-Regular.ttf);
}

* {
  margin-left: 0 auto;
  padding: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 3451px;
  background: #FFFFFF;
}

.container .header {
  width: 1440px;
  height: 700px;
  margin-left: 40px;
  padding-top: 46px;
  background-image: url(Base/Styles/Images/Bitmap.png);
}

.container .header .Head1-t1 {
  margin-left: 248px;
  width: 152px;
  height: 24px;
}

.container .header .Head1-t1-text1 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0.7px;
}

.container .header .Head1-t2 {
  width: 44px;
  height: 17px;
  margin-left: 997px;
  margin-top: -19px;
  cursor: pointer;
}

.container .header .Head1-t2-text2, .container .header .Head1-t3-text3 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

.container .header .Head1-t3 {
  margin-top: -28px;
  width: 90px;
  height: 36px;
  margin-left: 1058px;
  border: 1px solid white;
  border-radius: 100px;
  padding-top: 10px;
  cursor: pointer;
}

.container .header .Head1-t3-text3 {
  margin-left: 17px;
  letter-spacing: 1px;
}

.container .header .Head2-t4 {
  width: 470px;
  height: 126px;
  margin-left: 486px;
  margin-top: 149px;
  text-align: center;
}

.container .header .Head2-t4-text4 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  letter-spacing: 2.5px;
  color: #FFFFFF;
}

.container .header .Head2-t5 {
  width: 397px;
  height: 25px;
  margin-left: 520px;
  margin-top: 27px;
}

.container .header .Head2-t5-text5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #F7F3F2;
}

.container .header .Head2-t6 {
  width: 225px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  margin-left: 608px;
  margin-top: 32px;
  padding-top: 14px;
  cursor: pointer;
}

.container .header .Head2-t6-text6 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 20px;
  letter-spacing: 0.67px;
}

.container .section1 {
  width: 941px;
  height: 470px;
  margin-left: 289px;
  margin-top: 89px;
}

.container .section1-h1 {
  width: 350px;
  height: 32px;
  margin-left: 299px;
  padding-top: 1px;
}

.container .section1-h1-p1, .container .section2-h2-p2 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  letter-spacing: 1.5px;
}

.container .section1-img1 {
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section1-img1-b1, .container .section1-img1-b2, .container .section1-img1-b3 {
  width: 300px;
  height: 400px;
  margin-left: 1px;
  margin-top: 34px;
}

.container .section1-img1-b1-st1, .container .section1-img1-b2-st4, .container .section1-img1-b3-st7 {
  position: relative;
  margin-left: 25px;
  margin-top: -180px;
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  border-radius: 40px;
  padding-top: 2px;
}

.container .section1-img1-b1-st1-text7, .container .section1-img1-b2-st4-text10, .container .section1-img1-b3-st7-text13 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-left: 13px;
}

.container .section1-img1-b1-st2, .container .section1-img1-b2-st5, .container .section1-img1-b3-st8 {
  width: 250px;
  height: 58px;
  margin-left: 25px;
  margin-top: 23px;
}

.container .section1-img1-b1-st2-text8, .container .section1-img1-b2-st5-text11, .container .section1-img1-b3-st8-text14 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  letter-spacing: 1.8px;
}

.container .section1-img1-b1-st3, .container .section1-img1-b2-st6, .container .section1-img1-b3-st9 {
  width: 250px;
  height: 57px;
  margin-left: 24px;
  margin-top: 16px;
}

.container .section1-img1-b1-st3-text9, .container .section1-img1-b2-st6-text12, .container .section1-img1-b3-st9-text15 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #E3E3E3;
}

.container .section1-img1-b2 {
  margin-left: 20px;
}

.container .section1-img1-b2-st4 {
  margin-top: -149px;
}

.container .section1-img1-b2-st4-text10 {
  margin-left: 11px;
}

.container .section1-img1-b2-st5 {
  margin-top: 24px;
}

.container .section1-img1-b2-st5-text11 {
  letter-spacing: 1px;
}

.container .section1-img1-b2-st6 {
  margin-top: -16px;
}

.container .section1-img1-b3 {
  margin-left: 20px;
}

.container .section1-img1-b3-st7-text13 {
  margin-left: 12px;
}

.container .section2 {
  width: 941px;
  height: 368px;
  margin-top: 89px;
  margin-left: 287px;
}

.container .section2-h2 {
  width: 540px;
  height: 32px;
  margin-top: -2px;
  margin-left: 206px;
}

.container .section2-h2-p2 {
  letter-spacing: 1.4px;
}

.container .section2-img2 {
  width: 941px;
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section2-img2-bloc1, .container .section2-img2-bloc2, .container .section2-img2-bloc3, .container .section2-img2-bloc4 {
  width: 202px;
  height: 228px;
  margin-left: 15px;
  margin-top: 15px;
}

.container .section2-img2-bloc1-im1, .container .section2-img2-bloc2-im2, .container .section2-img2-bloc3-im3, .container .section2-img2-bloc4-im4 {
  margin-left: 39px;
  margin-top: 19px;
}

.container .section2-img2-bloc1-T1, .container .section2-img2-bloc2-T2, .container .section2-img2-bloc3-T3, .container .section2-img2-bloc4-T4 {
  width: 221px;
  height: 18px;
  margin-left: 43px;
  margin-top: 18px;
}

.container .section2-img2-bloc1-T1-N1, .container .section2-img2-bloc2-T2-N2, .container .section2-img2-bloc3-T3-N3, .container .section2-img2-bloc4-T4-N4 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #444444;
  letter-spacing: 0.8px;
}

.container .section2-img2-bloc1-T5, .container .section2-img2-bloc2-T6, .container .section2-img2-bloc3-T7, .container .section2-img2-bloc4-T8 {
  width: 200px;
  height: 14px;
  margin-top: 21px;
  margin-left: 0px;
  text-align: center;
  line-height: 5px;
}

.container .section2-img2-bloc1-T5-text16, .container .section2-img2-bloc2-T6-text17, .container .section2-img2-bloc3-T7-text18, .container .section2-img2-bloc4-T8-text19 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #666666;
  line-height: 15px;
}

.container .section2-img2-bloc2 {
  width: 230px;
  margin-left: 22px;
}

.container .section2-img2-bloc2-im2 {
  margin-left: 55px;
}

.container .section2-img2-bloc2-T2 {
  margin-left: 63px;
}

.container .section2-img2-bloc2-T6 {
  margin-left: 2px;
  width: 230px;
}

.container .section2-img2-bloc3 {
  width: 235px;
  margin-left: 10px;
  height: 247px;
}

.container .section2-img2-bloc3-im3 {
  margin-left: 55px;
}

.container .section2-img2-bloc3-T3 {
  margin-left: 72px;
}

.container .section2-img2-bloc3-T7 {
  margin-top: 25px;
  margin-left: 9px;
  width: 230px;
}

.container .section2-img2-bloc4 {
  height: 247px;
}

.container .section2-img2-bloc4-im4 {
  margin-left: 45px;
}

.container .section2-img2-bloc4-T4 {
  margin-left: 35px;
}

.container .section2-img2-bloc4-T8 {
  margin-top: 25px;
  margin-left: 1px;
  width: 210px;
}

.container .section2-T9 {
  width: 180px;
  height: 40px;
  margin-top: 32px;
  margin-left: 384px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  padding-top: 10px;
  cursor: pointer;
}

.container .section2-T9-text20 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
  margin-left: 22px;
  letter-spacing: 0.8px;
}

.container .section3 {
  width: 950px;
  height: 1043px;
  margin-left: 285px;
  margin-top: 20px;
}

.container .section3-h3 {
  width: 413px;
  height: 32px;
  margin-top: 87px;
  margin-left: 269px;
}

.container .section3-h3-p3 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  letter-spacing: 1px;
}

.container .section3-img3 {
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section3-img3-b1 {
  margin-left: 5px;
  margin-top: 35px;
}

.container .section3-img3-b1-M {
  display: none;
}

.container .section3-img3-b1-T10, .container .section3-img3-b2-T11, .container .section3-img3-b3-T12, .container .section3-img3-b4-T13, .container .section3-img3-b5-T14, .container .section3-img3-b6-T15, .container .section3-img3-b7-T16 {
  width: 212px;
  height: 27px;
  margin-left: 46px;
  margin-top: -167px;
}

.container .section3-img3-b1-T10-A1, .container .section3-img3-b2-T11-A2, .container .section3-img3-b3-T12-A3, .container .section3-img3-b4-T13-A4, .container .section3-img3-b5-T14-A5, .container .section3-img3-b6-T15-A6, .container .section3-img3-b7-T16-A7 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.container .section3-img3-b2 {
  margin-left: 20px;
  margin-top: 35px;
}

.container .section3-img3-b2-M {
  display: none;
}

.container .section3-img3-b2-T11 {
  width: 240px;
  margin-left: 33px;
}

.container .section3-img3-b3 {
  margin-left: 20px;
  margin-top: 35px;
}

.container .section3-img3-b3-M {
  display: none;
}

.container .section3-img3-b3-T12 {
  width: 190px;
  margin-left: 58px;
  margin-top: -181px;
}

.container .section3-img3-b3-T12-A3 {
  letter-spacing: 1.3px;
}

.container .section3-img3-b4 {
  margin-left: 5px;
  margin-top: 160px;
}

.container .section3-img3-b4-M {
  display: none;
}

.container .section3-img3-b4-T13 {
  width: 100px;
  margin-left: 111px;
  margin-top: -167px;
}

.container .section3-img3-b5 {
  margin-left: 20px;
  margin-top: 160px;
}

.container .section3-img3-b5-M {
  display: none;
}

.container .section3-img3-b5-T14 {
  width: 337px;
  margin-left: 180px;
  margin-top: -167px;
}

.container .section3-img3-b5-T14-A5 {
  letter-spacing: 1.3px;
}

.container .section3-img3-b6 {
  margin-left: 5px;
  margin-top: 160px;
}

.container .section3-img3-b6-M {
  display: none;
}

.container .section3-img3-b6-T15 {
  width: 280px;
  margin-left: 172px;
  margin-top: -167px;
}

.container .section3-img3-b6-T15-A6 {
  letter-spacing: 1.3px;
}

.container .section3-img3-b7 {
  margin-left: 20px;
  margin-top: 160px;
}

.container .section3-img3-b7-M {
  display: none;
}

.container .section3-img3-b7-T16 {
  width: 100px;
  margin-left: 93px;
  margin-top: -167px;
}

.container .section4 {
  width: 495px;
  height: 169px;
  margin-left: 512px;
  margin-top: 85px;
}

.container .section4-h4 {
  width: 358px;
  height: 32px;
  margin-top: 20px;
  margin-left: 69px;
}

.container .section4-h4-p4 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  letter-spacing: 1.2px;
}

.container .section4-h5 {
  width: 415px;
  height: 24px;
  margin-top: 52px;
  margin-left: 42px;
}

.container .section4-h5-p5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 14px;
  text-align: center;
  color: #666666;
  letter-spacing: 0.2px;
}

.container .section4-enter {
  width: 298px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-left: 6px;
  margin-top: 14px;
}

.container .section4 .Enter {
  width: 298px;
  height: 40px;
  padding-left: 8px;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.container .section4-T17 {
  width: 172.12px;
  height: 40px;
  margin-top: -39px;
  margin-left: 316px;
  background: #FF4E50;
  padding-top: 12px;
  border-radius: 40px;
  cursor: pointer;
}

.container .section4-T17-A6 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 29px;
  letter-spacing: 0.8px;
}

.container .footer {
  width: 1440px;
  height: 260px;
  margin-left: 40px;
  margin-top: 93px;
}

.container .footer-hr {
  background-color: red;
}

.container .footer-h6 {
  width: 119px;
  height: 20px;
  margin-top: 38px;
  margin-left: 250px;
}

.container .footer-h6-p6 {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
  letter-spacing: 0.5px;
}

.container .footer-h7, .container .footer-h8 {
  width: 70px;
  height: 17px;
  margin-top: -18px;
  margin-left: 489px;
  letter-spacing: 1px;
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.container .footer-list {
  width: 123px;
  margin-top: 9px;
  margin-left: 489px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

.container .footer-h8 {
  margin-left: 729px;
  margin-top: -182px;
}

.container .footer-h9 {
  width: 83px;
  height: 12px;
  margin-top: -17px;
  margin-left: 1111px;
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.2px;
  color: #CCCCCC;
}

.container .footer-image {
  margin-top: 5px;
  margin-left: 1080px;
}

@media screen and (max-width: 769px) {
  .container {
    width: 768px;
    height: 3679px;
    background: #FFFFFF;
  }
  .container .header {
    margin-left: 0px;
    width: 768px;
    height: 700px;
    padding-top: 46px;
    background-image: url(Base/Styles/Images/Background.png);
  }
  .container .header .Head1-t1 {
    margin-left: 50px;
    width: 152px;
    height: 24px;
  }
  .container .header .Head1-t1-text1 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 0.7px;
  }
  .container .header .Head1-t2 {
    width: 44px;
    height: 17px;
    margin-left: 566px;
    margin-top: -20px;
    cursor: pointer;
  }
  .container .header .Head1-t2-text2, .container .header .Head1-t3-text3 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
  }
  .container .header .Head1-t3 {
    margin-top: -27px;
    width: 90px;
    height: 36px;
    margin-left: 628px;
    border: 1px solid white;
    border-radius: 100px;
    padding-top: 9px;
    cursor: pointer;
  }
  .container .header .Head1-t3-text3 {
    margin-left: 16px;
    letter-spacing: 1px;
  }
  .container .header .Head2-t4 {
    width: 470px;
    height: 126px;
    margin-left: 148px;
    margin-top: 149px;
    text-align: center;
  }
  .container .header .Head2-t4-text4 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    letter-spacing: 2.5px;
    color: #FFFFFF;
  }
  .container .header .Head2-t5 {
    width: 397px;
    height: 25px;
    margin-left: 184px;
    margin-top: 27px;
  }
  .container .header .Head2-t5-text5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #F7F3F2;
  }
  .container .header .Head2-t6 {
    width: 225px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    margin-left: 272px;
    margin-top: 32px;
    padding-top: 14px;
    cursor: pointer;
  }
  .container .header .Head2-t6-text6 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
    letter-spacing: 0.67px;
  }
  .container .section1 {
    width: 767px;
    height: 470px;
    margin-left: 0px;
    margin-top: 89px;
  }
  .container .section1-h1 {
    width: 350px;
    height: 32px;
    margin-left: 213px;
    padding-top: 3px;
  }
  .container .section1-h1-p1, .container .section2-h2-p2 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #444444;
    letter-spacing: 1.5px;
  }
  .container .section1-img1 {
    width: 767px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .section1-img1-b1, .container .section1-img1-b2, .container .section1-img1-b3 {
    margin-left: 10px;
    margin-top: 34px;
  }
  .container .section1-img1-b1-tb1 {
    width: 236px;
    height: 400px;
    background-size: 236px 400px;
  }
  .container .section1-img1-b1-st1, .container .section1-img1-b2-st4, .container .section1-img1-b3-st7 {
    position: relative;
    margin-left: 20px;
    margin-top: -194px;
    width: 70px;
    height: 20px;
    background-color: #FF4E50;
    border-radius: 40px;
    padding-top: 2px;
  }
  .container .section1-img1-b1-st1-text7, .container .section1-img1-b2-st4-text10, .container .section1-img1-b3-st7-text13 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-left: 13px;
  }
  .container .section1-img1-b1-st2, .container .section1-img1-b2-st5, .container .section1-img1-b3-st8 {
    width: 188px;
    height: 36px;
    margin-left: 20px;
    margin-top: 47px;
  }
  .container .section1-img1-b1-st2-text8, .container .section1-img1-b2-st5-text11, .container .section1-img1-b3-st8-text14 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 11px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
  }
  .container .section1-img1-b1-st3, .container .section1-img1-b2-st6, .container .section1-img1-b3-st9 {
    width: 190px;
    height: 57px;
    margin-left: 19px;
    margin-top: 20px;
    line-height: 12px;
  }
  .container .section1-img1-b1-st3-text9, .container .section1-img1-b2-st6-text12, .container .section1-img1-b3-st9-text15 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #E3E3E3;
    line-height: 14px;
  }
  .container .section1-img1-b2 {
    margin-top: 34px;
    margin-left: -44px;
  }
  .container .section1-img1-b2-tb2 {
    width: 236px;
    height: 400px;
    background-size: 236px 400px;
  }
  .container .section1-img1-b2-st4 {
    margin-top: -145px;
  }
  .container .section1-img1-b2-st4-text10 {
    margin-left: 11px;
  }
  .container .section1-img1-b2-st5 {
    margin-top: 17px;
  }
  .container .section1-img1-b2-st5-text11 {
    letter-spacing: 1px;
  }
  .container .section1-img1-b2-st6 {
    margin-top: 16px;
  }
  .container .section1-img1-b3 {
    margin-top: -399px;
    margin-left: 522px;
  }
  .container .section1-img1-b3-tb3 {
    width: 236px;
    height: 400px;
    background-size: 236px 400px;
  }
  .container .section2 {
    width: 492px;
    height: 605px;
    margin-top: 95px;
    margin-left: 143px;
  }
  .container .section2-h2 {
    width: 457px;
    height: 32px;
    margin-top: -6px;
    margin-left: 13px;
  }
  .container .section2-h2-p2 {
    letter-spacing: 1.1px;
  }
  .container .section2-img2 {
    width: 567px;
    height: 577px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .section2-img2-bloc1, .container .section2-img2-bloc2, .container .section2-img2-bloc3, .container .section2-img2-bloc4 {
    width: 202px;
    height: 228px;
    margin-left: 14px;
    margin-top: 13px;
  }
  .container .section2-img2-bloc1-im1, .container .section2-img2-bloc2-im2, .container .section2-img2-bloc3-im3, .container .section2-img2-bloc4-im4 {
    margin-left: 39px;
    margin-top: 19px;
  }
  .container .section2-img2-bloc1-T1, .container .section2-img2-bloc2-T2, .container .section2-img2-bloc3-T3, .container .section2-img2-bloc4-T4 {
    width: 119px;
    height: 18px;
    margin-left: 43px;
    margin-top: 18px;
  }
  .container .section2-img2-bloc1-T1-N1, .container .section2-img2-bloc2-T2-N2, .container .section2-img2-bloc3-T3-N3, .container .section2-img2-bloc4-T4-N4 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #444444;
    letter-spacing: 0.8px;
  }
  .container .section2-img2-bloc1-T5, .container .section2-img2-bloc2-T6, .container .section2-img2-bloc3-T7, .container .section2-img2-bloc4-T8 {
    width: 241px;
    height: 14px;
    margin-top: 21px;
    margin-left: -17px;
    text-align: center;
    line-height: 1px;
  }
  .container .section2-img2-bloc1-T5-text16, .container .section2-img2-bloc2-T6-text17, .container .section2-img2-bloc3-T7-text18, .container .section2-img2-bloc4-T8-text19 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #666666;
    line-height: 15px;
  }
  .container .section2-img2-bloc2 {
    width: 230px;
    margin-left: -218px;
    margin-top: 272px;
  }
  .container .section2-img2-bloc2-im2 {
    margin-left: 55px;
  }
  .container .section2-img2-bloc2-T2 {
    margin-left: 63px;
  }
  .container .section2-img2-bloc2-T6 {
    margin-left: 1px;
    width: 230px;
  }
  .container .section2-img2-bloc3 {
    width: 235px;
    margin-left: 26px;
    height: 247px;
  }
  .container .section2-img2-bloc3-im3 {
    margin-left: 55px;
  }
  .container .section2-img2-bloc3-T3 {
    margin-left: 72px;
  }
  .container .section2-img2-bloc3-T7 {
    margin-top: 27px;
    margin-left: 0px;
    width: 232px;
  }
  .container .section2-img2-bloc4 {
    height: 247px;
    margin-left: -204px;
    margin-top: 272px;
  }
  .container .section2-img2-bloc4-im4 {
    margin-left: 24px;
  }
  .container .section2-img2-bloc4-T4 {
    margin-left: 15px;
    width: 142px;
  }
  .container .section2-img2-bloc4-T8 {
    margin-top: 22px;
    margin-left: -44px;
    width: 258px;
  }
  .container .section2-T9 {
    width: 180px;
    height: 40px;
    margin-top: 18px;
    margin-left: 151px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    padding-top: 10px;
    cursor: pointer;
  }
  .container .section2-T9-text20 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FF4E50;
    margin-left: 22px;
    letter-spacing: 0.8px;
  }
  .container .section3 {
    width: 768px;
    height: 1031px;
    margin-left: -9px;
    margin-top: 0px;
  }
  .container .section3-h3 {
    width: 399px;
    height: 32px;
    margin-top: 95px;
    margin-left: 195px;
  }
  .container .section3-h3-p3 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #444444;
    letter-spacing: 1px;
  }
  .container .section3-img3 {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .section3-img3-b1 {
    margin-left: 19px;
    margin-top: 32px;
  }
  .container .section3-img3-b1-M {
    display: none;
  }
  .container .section3-img3-b1-bg1 {
    width: 236px;
    height: 310px;
  }
  .container .section3-img3-b1-T10, .container .section3-img3-b2-T11, .container .section3-img3-b3-T12, .container .section3-img3-b4-T13, .container .section3-img3-b5-T14, .container .section3-img3-b6-T15, .container .section3-img3-b7-T16 {
    width: 180px;
    height: 27px;
    margin-left: 28px;
    margin-top: -195px;
    text-align: center;
  }
  .container .section3-img3-b1-T10-A1, .container .section3-img3-b2-T11-A2, .container .section3-img3-b3-T12-A3, .container .section3-img3-b4-T13-A4, .container .section3-img3-b5-T14-A5, .container .section3-img3-b6-T15-A6, .container .section3-img3-b7-T16-A7 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
  .container .section3-img3-b2 {
    margin-left: 20px;
    margin-top: 32px;
  }
  .container .section3-img3-b2-M {
    display: none;
  }
  .container .section3-img3-b2-bg2 {
    width: 236px;
    height: 310px;
  }
  .container .section3-img3-b2-T11 {
    width: 176px;
    margin-left: 31px;
    margin-top: -181px;
    text-align: center;
  }
  .container .section3-img3-b3 {
    margin-left: 531px;
    margin-top: -156px;
  }
  .container .section3-img3-b3-M {
    display: none;
  }
  .container .section3-img3-b3-bg3 {
    width: 236px;
    height: 310px;
  }
  .container .section3-img3-b3-T12 {
    width: 190px;
    margin-left: 25px;
    margin-top: -182px;
  }
  .container .section3-img3-b3-T12-A3 {
    letter-spacing: 1.3px;
  }
  .container .section3-img3-b4 {
    margin-left: 19px;
    margin-top: 175px;
  }
  .container .section3-img3-b4-M {
    display: none;
  }
  .container .section3-img3-b4-bg4 {
    width: 236px;
    height: 310px;
  }
  .container .section3-img3-b4-T13 {
    width: 100px;
    margin-left: 68px;
    margin-top: -169px;
  }
  .container .section3-img3-b5 {
    margin-left: 275px;
    margin-top: -169px;
  }
  .container .section3-img3-b5-M {
    display: none;
  }
  .container .section3-img3-b5-bg5 {
    width: 492px;
    height: 310px;
  }
  .container .section3-img3-b5-T14 {
    width: 300px;
    margin-left: 97px;
    margin-top: -167px;
  }
  .container .section3-img3-b5-T14-A5 {
    letter-spacing: 1.3px;
  }
  .container .section3-img3-b6 {
    margin-left: 19px;
    margin-top: 160px;
  }
  .container .section3-img3-b6-M {
    display: none;
  }
  .container .section3-img3-b6-bg6 {
    width: 492px;
    height: 310px;
  }
  .container .section3-img3-b6-T15 {
    width: 280px;
    margin-left: 107px;
    margin-top: -167px;
  }
  .container .section3-img3-b6-T15-A6 {
    letter-spacing: 1.3px;
  }
  .container .section3-img3-b7 {
    margin-left: 20px;
    margin-top: 160px;
  }
  .container .section3-img3-b7-M {
    display: none;
  }
  .container .section3-img3-b7-bg7 {
    width: 236px;
    height: 310px;
  }
  .container .section3-img3-b7-T16 {
    width: 100px;
    margin-left: 62px;
    margin-top: -168px;
  }
  .container .section4 {
    width: 482px;
    height: 158px;
    margin-left: 142px;
    margin-top: 94px;
  }
  .container .section4-h4 {
    width: 334px;
    height: 32px;
    margin-top: 0px;
    margin-left: 76px;
  }
  .container .section4-h4-p4 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #444444;
    letter-spacing: 1px;
  }
  .container .section4-h5 {
    width: 329px;
    height: 24px;
    margin-top: 52px;
    margin-left: 79px;
  }
  .container .section4-h5-p5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 14px;
    text-align: center;
    color: #666666;
    letter-spacing: 0.2px;
  }
  .container .section4-enter {
    width: 298px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    margin-left: 0px;
    margin-top: 13px;
  }
  .container .section4 .Enter {
    width: 298px;
    height: 40px;
    padding-left: 11px;
    padding-top: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }
  .container .section4-T17 {
    width: 172.12px;
    height: 40px;
    margin-top: -39px;
    margin-left: 310px;
    background: #FF4E50;
    padding-top: 12px;
    border-radius: 40px;
    cursor: pointer;
  }
  .container .section4-T17-A6 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 29px;
    letter-spacing: 0.8px;
  }
  .container .footer {
    width: 768px;
    height: 244px;
    margin-left: 0px;
    margin-top: 104px;
  }
  .container .footer-hr {
    background-color: red;
  }
  .container .footer-h6 {
    width: 119px;
    height: 20px;
    margin-top: 38px;
    margin-left: 40px;
  }
  .container .footer-h6-p6 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF4E50;
    letter-spacing: 0.5px;
  }
  .container .footer-h7, .container .footer-h8 {
    width: 70px;
    height: 17px;
    margin-top: -18px;
    margin-left: 266px;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
  }
  .container .footer-list {
    width: 123px;
    margin-top: 9px;
    margin-left: 266px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
  }
  .container .footer-h8 {
    margin-left: 435px;
    margin-top: -182px;
  }
  .container .footer-h9 {
    width: 83px;
    height: 12px;
    margin-top: -17px;
    margin-left: 649px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.2px;
    color: #CCCCCC;
  }
  .container .footer-image {
    margin-top: 5px;
    margin-left: 618px;
  }
}

@media screen and (max-width: 321px) {
  .container {
    width: 320px;
    height: 3938px;
    background: #FFFFFF;
  }
  .container .header {
    margin-left: 10px;
    width: 320px;
    height: 540px;
    background-image: url(Base/Styles/Images/Background2.png);
    background-repeat: no-repeat;
  }
  .container .header .Head1-t1 {
    margin-top: 107px;
    margin-left: 87px;
    width: 152px;
    height: 24px;
  }
  .container .header .Head1-t1-text1 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 0.7px;
  }
  .container .header .Head1-t2 {
    width: 44px;
    height: 17px;
    margin-left: 75px;
    margin-top: -147px;
    cursor: pointer;
  }
  .container .header .Head1-t2-text2, .container .header .Head1-t3-text3 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
  }
  .container .header .Head1-t3 {
    margin-top: -26px;
    width: 90px;
    height: 36px;
    margin-left: 137px;
    border: 1px solid white;
    border-radius: 100px;
    padding-top: 9px;
    cursor: pointer;
  }
  .container .header .Head1-t3-text3 {
    margin-left: 16px;
    letter-spacing: 1px;
  }
  .container .header .Head2-t4 {
    width: 295px;
    height: 126px;
    margin-left: 13px;
    margin-top: 50px;
    text-align: center;
  }
  .container .header .Head2-t4-text4 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.4px;
    color: #FFFFFF;
  }
  .container .header .Head2-t5 {
    width: 283px;
    height: 25px;
    margin-left: 18px;
    margin-top: -46px;
    text-align: center;
  }
  .container .header .Head2-t5-text5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #F7F3F2;
  }
  .container .header .Head2-t6 {
    width: 278px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    margin-left: 22px;
    margin-top: 39px;
    padding-top: 12px;
    cursor: pointer;
  }
  .container .header .Head2-t6-text6 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 45px;
    letter-spacing: 0.67px;
  }
  .container .section1 {
    width: 300px;
    height: 781px;
    margin-left: 0px;
    margin-top: 14px;
  }
  .container .section1-h1 {
    width: 308px;
    height: 32px;
    margin-left: 9px;
    padding-top: 18px;
  }
  .container .section1-h1-p1, .container .section2-h2-p2 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #444444;
    letter-spacing: 1.5px;
  }
  .container .section1-img1 {
    width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section1-img1-b1, .container .section1-img1-b2, .container .section1-img1-b3 {
    margin-left: 10px;
    margin-top: 31px;
  }
  .container .section1-img1-b1-tb1 {
    width: 300px;
    height: 240px;
  }
  .container .section1-img1-b1-st1, .container .section1-img1-b2-st4, .container .section1-img1-b3-st7 {
    position: relative;
    margin-left: 20px;
    margin-top: -176px;
    width: 70px;
    height: 20px;
    background-color: #FF4E50;
    border-radius: 40px;
    padding-top: 2px;
  }
  .container .section1-img1-b1-st1-text7, .container .section1-img1-b2-st4-text10, .container .section1-img1-b3-st7-text13 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-left: 13px;
  }
  .container .section1-img1-b1-st2, .container .section1-img1-b2-st5, .container .section1-img1-b3-st8 {
    width: 188px;
    height: 36px;
    margin-left: 19px;
    margin-top: 46px;
  }
  .container .section1-img1-b1-st2-text8, .container .section1-img1-b2-st5-text11, .container .section1-img1-b3-st8-text14 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 11px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
  }
  .container .section1-img1-b1-st3, .container .section1-img1-b2-st6, .container .section1-img1-b3-st9 {
    width: 258px;
    height: 57px;
    margin-left: 19px;
    margin-top: 15px;
    line-height: 14px;
  }
  .container .section1-img1-b1-st3-text9, .container .section1-img1-b2-st6-text12, .container .section1-img1-b3-st9-text15 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #E3E3E3;
    line-height: 3px;
  }
  .container .section1-img1-b2 {
    margin-top: -151px;
    margin-left: 10px;
  }
  .container .section1-img1-b2-tb2 {
    width: 300px;
    height: 240px;
    background-size: 236px 400px;
  }
  .container .section1-img1-b2-st4 {
    margin-top: -145px;
  }
  .container .section1-img1-b2-st4-text10 {
    margin-left: 11px;
  }
  .container .section1-img1-b2-st5 {
    margin-top: 31px;
    width: 202px;
  }
  .container .section1-img1-b2-st5-text11 {
    letter-spacing: 1px;
  }
  .container .section1-img1-b2-st6 {
    margin-top: 0px;
    width: 248px;
  }
  .container .section1-img1-b3 {
    margin-top: -151px;
    margin-left: 10px;
  }
  .container .section1-img1-b3-st7 {
    margin-top: -175px;
    margin-left: 19px;
  }
  .container .section1-img1-b3-st8 {
    margin-left: 19px;
    margin-top: 47px;
  }
  .container .section1-img1-b3-tb3 {
    width: 300px;
    height: 240px;
    background-size: 236px 400px;
  }
  .container .section2 {
    width: 300px;
    height: 1030px;
    margin-top: 57px;
    margin-left: 7px;
  }
  .container .section2-h2 {
    width: 300px;
    height: 32px;
    margin-top: 60px;
    margin-left: 4px;
    line-height: 5px;
  }
  .container .section2-h2-p2 {
    letter-spacing: 1.1px;
    line-height: 24px;
  }
  .container .section2-img2 {
    width: 295px;
    height: 998px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section2-img2-bloc1, .container .section2-img2-bloc2, .container .section2-img2-bloc3, .container .section2-img2-bloc4 {
    width: 202px;
    height: 228px;
    margin-left: 54px;
    margin-top: 14px;
  }
  .container .section2-img2-bloc1-im1, .container .section2-img2-bloc2-im2, .container .section2-img2-bloc3-im3, .container .section2-img2-bloc4-im4 {
    margin-left: 39px;
    margin-top: 19px;
  }
  .container .section2-img2-bloc1-T1, .container .section2-img2-bloc2-T2, .container .section2-img2-bloc3-T3, .container .section2-img2-bloc4-T4 {
    width: 119px;
    height: 18px;
    margin-left: 43px;
    margin-top: 18px;
  }
  .container .section2-img2-bloc1-T1-N1, .container .section2-img2-bloc2-T2-N2, .container .section2-img2-bloc3-T3-N3, .container .section2-img2-bloc4-T4-N4 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #444444;
    letter-spacing: 0.8px;
  }
  .container .section2-img2-bloc1-T5, .container .section2-img2-bloc2-T6, .container .section2-img2-bloc3-T7, .container .section2-img2-bloc4-T8 {
    width: 241px;
    height: 14px;
    margin-top: 21px;
    margin-left: -19px;
    text-align: center;
    line-height: 1px;
  }
  .container .section2-img2-bloc1-T5-text16, .container .section2-img2-bloc2-T6-text17, .container .section2-img2-bloc3-T7-text18, .container .section2-img2-bloc4-T8-text19 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #666666;
    line-height: 15px;
  }
  .container .section2-img2-bloc2 {
    width: 230px;
    margin-left: 38px;
    margin-top: 233px;
  }
  .container .section2-img2-bloc2-im2 {
    margin-left: 55px;
  }
  .container .section2-img2-bloc2-T2 {
    margin-left: 63px;
  }
  .container .section2-img2-bloc2-T6 {
    margin-left: 2px;
    width: 230px;
  }
  .container .section2-img2-bloc3 {
    margin-top: -468px;
    width: 235px;
    margin-left: 38px;
    height: 247px;
  }
  .container .section2-img2-bloc3-im3 {
    margin-left: 55px;
  }
  .container .section2-img2-bloc3-T3 {
    margin-left: 72px;
  }
  .container .section2-img2-bloc3-T7 {
    margin-top: 27px;
    margin-left: 3px;
    width: 232px;
  }
  .container .section2-img2-bloc3-T7-text18 {
    line-height: 14px;
  }
  .container .section2-img2-bloc4 {
    height: 247px;
    margin-left: -208px;
    margin-top: 696px;
  }
  .container .section2-img2-bloc4-im4 {
    margin-left: 24px;
  }
  .container .section2-img2-bloc4-T4 {
    margin-left: 15px;
    width: 142px;
  }
  .container .section2-img2-bloc4-T8 {
    margin-top: 22px;
    margin-left: -44px;
    width: 258px;
  }
  .container .section2-img2-bloc4-T8-text19 {
    line-height: 14px;
  }
  .container .section2-T9 {
    width: 277px;
    height: 40px;
    margin-top: 956px;
    margin-left: -266px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    padding-top: 10px;
    cursor: pointer;
  }
  .container .section2-T9-text20 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FF4E50;
    margin-left: 70px;
    letter-spacing: 0.8px;
  }
  .container .section3 {
    width: 310px;
    height: 928px;
    margin-left: 7px;
    margin-top: 0px;
  }
  .container .section3-h3 {
    width: 234px;
    height: 32px;
    margin-top: 33px;
    margin-left: 38px;
  }
  .container .section3-h3-p3 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #444444;
    letter-spacing: 1px;
  }
  .container .section3-img3 {
    width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section3-img3-b1 {
    margin-left: 3px;
    margin-top: 55px;
  }
  .container .section3-img3-b1-M {
    display: block;
  }
  .container .section3-img3-b1-bg1 {
    display: none;
  }
  .container .section3-img3-b1-T10, .container .section3-img3-b2-T11, .container .section3-img3-b3-T12, .container .section3-img3-b4-T13, .container .section3-img3-b5-T14, .container .section3-img3-b6-T15, .container .section3-img3-b7-T16 {
    width: 180px;
    height: 27px;
    margin-left: 61px;
    margin-top: -100px;
    text-align: center;
  }
  .container .section3-img3-b1-T10-A1, .container .section3-img3-b2-T11-A2, .container .section3-img3-b3-T12-A3, .container .section3-img3-b4-T13-A4, .container .section3-img3-b5-T14-A5, .container .section3-img3-b6-T15-A6, .container .section3-img3-b7-T16-A7 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
  .container .section3-img3-b2 {
    margin-left: 3px;
    margin-top: 83px;
  }
  .container .section3-img3-b2-M {
    display: block;
  }
  .container .section3-img3-b2-bg2 {
    display: none;
  }
  .container .section3-img3-b2-T11 {
    width: 176px;
    margin-left: 63px;
    margin-top: -86px;
    text-align: center;
  }
  .container .section3-img3-b3 {
    margin-left: 3px;
    margin-top: 69px;
  }
  .container .section3-img3-b3-M {
    display: block;
  }
  .container .section3-img3-b3-bg3 {
    display: none;
  }
  .container .section3-img3-b3-T12 {
    width: 190px;
    margin-left: 56px;
    margin-top: -86px;
  }
  .container .section3-img3-b3-T12-A3 {
    letter-spacing: 1.3px;
  }
  .container .section3-img3-b4 {
    margin-left: 3px;
    margin-top: 69px;
  }
  .container .section3-img3-b4-M {
    display: block;
  }
  .container .section3-img3-b4-bg4 {
    display: none;
  }
  .container .section3-img3-b4-T13 {
    width: 100px;
    margin-left: 100px;
    margin-top: -72px;
  }
  .container .section3-img3-b5 {
    margin-left: 3px;
    margin-top: 55px;
  }
  .container .section3-img3-b5-M {
    display: block;
  }
  .container .section3-img3-b5-bg5 {
    display: none;
  }
  .container .section3-img3-b5-T14 {
    width: 300px;
    margin-left: 11px;
    margin-top: -72px;
  }
  .container .section3-img3-b5-T14-A5 {
    letter-spacing: 1.3px;
  }
  .container .section3-img3-b6 {
    margin-left: 3px;
    margin-top: 56px;
  }
  .container .section3-img3-b6-M {
    display: block;
  }
  .container .section3-img3-b6-bg6 {
    display: none;
  }
  .container .section3-img3-b6-T15 {
    width: 280px;
    margin-left: 11px;
    margin-top: -74px;
  }
  .container .section3-img3-b6-T15-A6 {
    letter-spacing: 1.3px;
  }
  .container .section3-img3-b7 {
    margin-left: 3px;
    margin-top: 56px;
  }
  .container .section3-img3-b7-M {
    display: block;
  }
  .container .section3-img3-b7-bg7 {
    display: none;
  }
  .container .section3-img3-b7-T16 {
    width: 100px;
    margin-left: 94px;
    margin-top: -72px;
  }
  .container .section4 {
    width: 300px;
    height: 192px;
    margin-left: 14px;
    margin-top: 94px;
  }
  .container .section4-h4 {
    width: 249px;
    height: 32px;
    margin-top: -1px;
    margin-left: 22px;
    text-align: center;
  }
  .container .section4-h4-p4 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #444444;
    letter-spacing: 1px;
  }
  .container .section4-h5 {
    width: 277px;
    height: 24px;
    margin-top: 43px;
    margin-left: 9px;
  }
  .container .section4-h5-p5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 14px;
    text-align: center;
    color: #666666;
    letter-spacing: 0.2px;
  }
  .container .section4-enter {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    margin-left: 6px;
    margin-top: 3px;
  }
  .container .section4 .Enter {
    width: 278px;
    height: 40px;
    padding-left: 11px;
    padding-top: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }
  .container .section4-T17 {
    width: 280.12px;
    height: 40px;
    margin-top: 12px;
    margin-left: 6px;
    background: #FF4E50;
    padding-top: 12px;
    border-radius: 40px;
    cursor: pointer;
  }
  .container .section4-T17-A6 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 86px;
    letter-spacing: 0.8px;
  }
  .container .footer {
    width: 320px;
    height: 244px;
    margin-left: 0px;
    margin-top: 41px;
  }
  .container .footer-hr {
    background-color: red;
  }
  .container .footer-h6 {
    width: 119px;
    height: 20px;
    margin-top: 20px;
    margin-left: 102px;
  }
  .container .footer-h6-p6 {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF4E50;
    letter-spacing: 0.5px;
  }
  .container .footer-h7, .container .footer-h8 {
    width: 70px;
    height: 17px;
    margin-top: 13px;
    margin-left: 125px;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
  }
  .container .footer-list {
    width: 202px;
    margin-top: 2px;
    margin-left: 59px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .footer-list-L5 {
    margin-left: -1px;
  }
  .container .footer-list-L6 {
    margin-left: -36px;
  }
  .container .footer-h8 {
    margin-left: 128px;
    margin-top: 6px;
  }
  .container .footer-h9 {
    width: 83px;
    height: 12px;
    margin-top: 13px;
    margin-left: 121px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.2px;
    color: #CCCCCC;
  }
  .container .footer-image {
    margin-top: 6px;
    margin-left: 105px;
  }
}
/*# sourceMappingURL=Main.css.map */