@font-face {
    font-family: 'Kanit';
    src: url(Styles/Fonts/Montserrat-Italic-VariableFont_wght.ttf);

}
@font-face {
    font-family: 'Roboto';
    src: url(Styles/Fonts/Roboto-Regular.ttf);
}